/* main*/
body {
  padding: 0;
  margin: 0;
  user-select: none;
  font-weight: bold;
}


/* 背景 */
/*header設定*/
#header{
  position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
  height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
  position: fixed;
  z-index: -1;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}


#CSS
h2 {
  margin-top: 0;


/* sazae */
.sazae_img {
  width: 1200px;
  height: 800px;
  top: 50px; l: 50px;
}

.sazae {
  float: right;
}

#sazae_gu {
  position: absolute;
  width:550px;
  
}
.fade-img img {
  /* position: absolute; */
/* flex: auto; */
  top: 50px; l: 50px;
} 

.janken {
  text-align: center;
}


/* グーチョキーパー */
.gu_btn img {
  width: 300px;
  height: 300px;
}
.cho_btn img {
  width: 300px;
  height: 300px;
}
.pa_btn img {
  width: 300px;
  height: 300px;
}

.command {
  display: flex;
  justify-content: center;
}

.u {
  display: flex;
  justify-content: space-between;
}

.div  {
  align-items: flex-end;
}

/* you */
.you_img img {
  margin: auto;
  width: 900px;
  height: 700px;
}

.you_img {
  text-align: left;
}


/* スイッチ */
.switch img{
  width: 100px;
 height: 100px;

 text-align: right;
}
.switch{
  text-align: right;
}

#timer {
  background: #00a7ea;
  font-size: 20px;
}




footer {
  padding: 10px;
  background: #323135;
  color: #98969c;
  text-align: center;
}